.chart-bar {
  width: 700px; /* ✅ 달력과 통일 */
  height: 310px; /* ✅ 딱 맞는 비율 */
  background: #f7f6f5;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Pretendard', sans-serif;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px auto 0 auto;
  margin-left: 50px;
  margin-right: 50px;
}
